p{color: green;}
li{color: crimson;font-weight: 300;font-family: 'Times New Roman', Times, serif;font-style: italic;}
#headoo{color:lawngreen;border-color: aquamarine;border-width: 100px;border-radius: 15px;}
#headie{color: deepskyblue;}
#header{color: greenyellow;}
